sphinx==7.1.2
sphinx-rtd-theme==1.3.0rc1
aiohttp==3.8.3
aiosignal==1.2.0
amqp==5.1.1
appdirs==1.4.4
asgiref==3.5.2
async-timeout==4.0.2
attrs==22.1.0
beautifulsoup4==4.9.3
billiard==3.6.4.0
-e git+https://github.com/galaxyproject/bioblend@5cfc8a01dea067b3f7d1e3682bb101294bee140b#egg=bioblend
biopython==1.79
cached-property==1.5.2
celery==5.2.7
certifi==2022.9.24
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
contourpy==1.0.5
cryptography==38.0.1
cycler==0.11.0
decorator==4.4.2
deepdiff==5.2.3
defusedxml==0.7.1
Django==3.2.16
django-allauth==0.51.0
django-autocomplete-light==3.9.4
django-bootstrap3==22.1
django-bootstrap4==22.2
django-bulk-update==2.2.0
django-celery-results==2.4.0
django-filter==22.1
-e git+https://github.com/computational-metabolomics/django-galaxy#egg=django-galaxy
-e git+https://github.com/computational-metabolomics/django-gfiles#egg=django-gfiles
-e git+https://github.com/computational-metabolomics/django-mogi#egg=django-mogi
django-mysql==4.7.1
django-rest-framework==0.1.0
django-sb-admin==0.3.7
django-simple-cookie-consent==0.1.1
django-simple-history==3.1.1
django-tables2==2.4.1
django-tables2-column-shifter==2.0.3
djangorestframework==3.14.0
et-xmlfile==1.1.0
fonttools==4.37.4
frozenlist==1.3.1
fs==2.4.16
future==0.18.2
idna==2.10
isatools==0.12.2
iso8601==0.1.16
jdcal==1.4.1
Jinja2==2.11.3
jsonschema==3.2.0
kiwisolver==1.4.4
kombu==5.2.4
lxml==4.6.5
MarkupSafe==2.0.1
matplotlib==3.6.1
multidict==6.0.2
mysqlclient==2.1.1
mzml2isa==1.0.3
networkx==2.5.1
numpy==1.20.3
oauthlib==3.2.1
openpyxl==2.6.4
ordered-set==4.0.2
packaging==21.3
pandas==1.2.5
Pillow==9.2.0
plotly==5.10.0
progressbar2==3.53.3
prompt-toolkit==3.0.31
pronto==0.12.2
PubChemPy==1.0.4
pycparser==2.21
PyJWT==2.5.0
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
python-utils==3.3.3
python3-openid==3.2.0
pytest==7.1.3
pytest-django==4.5.2
pytz==2022.4
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.1
requests-toolbelt==0.10.0
seaborn==0.12.0
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
tablib==3.2.1
tenacity==8.1.0
tinydb==4.7.0
tuspy==1.0.0
types-cryptography==3.3.23
typing_extensions==4.4.0
urllib3==1.26.12
vine==5.0.0
wcwidth==0.2.5
yarl==1.8.1